body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 28px;
  background-color: #fff;
}

h1,
h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.persons {
  max-width: 918px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  row-gap: 10px;
}

.persons__container {
  position: relative;
}

.persons__card {
  justify-self: center;
  position: relative;
  padding: 12px 12px 19px;
  width: 224px;
  max-height: 246px;

  overflow: hidden;

  text-align: center;
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0;
    bottom: -33px;

    z-index: -1;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #eee;
  }
}

.persons__card:hover .persons {
  overflow: visible;
}

.persons__card:hover {
  overflow: visible;
  transform: scale(1.1);

  z-index: 1;

  background-color: #eee;
  cursor: pointer;
}

.persons__img {
  display: block;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.persons__card:hover .persons__img {
  border-radius: 50px;
}

.persons__name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.persons__rank {
  display: block;
  position: absolute;
  top: 32%;
  right: 10px;
  width: 32px;
  height: 32px;

  text-align: center;
  font-style: bold;
  font-size: 16px;
  line-height: 32px;
  color: #8b0000;

  background-color: #fff;
  border-radius: 50%;
}

.persons__extra {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 21.6;
  line-height: 25px;
  color: #000;
  text-transform: uppercase;
}
